body{
    margin-left: 5%;
    background-image: url("../pictures/survey-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

p {
    font-size: 25px;
    font-family: 楷体;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 25%;
}

.progress{
    font-size: 25px;
    position: absolute;
    bottom: 7%;
    left: 50%;
}

.nextBtn{
    position: absolute;
    left: 65%;
    top: 80%;
}

.lastBtn{
    position: absolute;
    left: 25%;
    top: 80%;
    display: none;
}



.lastBtn.active{
    display: block;
}

.nextBtn, .lastBtn{
    font-size: 25px;
    border-radius: 25%;
    background-image: url("yellow-button.png");
    font-style: italic;
    color: black;
    padding: 15px 32px;
    width: 230px;
}

.question .choice{
    font-size: 25px;
    border-radius: 25%;
    background-image: url("blue-button.png");
    font-style: italic;
    color: black;
    padding: 15px 32px;
    width: 230px;
}

.question .choice.active{
    font-weight: bold;
    border-color: yellow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 25px;
    border-radius: 25%;
    background-image: url("blue-button.png");
    font-style: italic;
    color: black;
    padding: 15px 32px;
    width: 230px;
    border-width: thick;
}

button:hover{
    cursor: pointer;
    font-weight: bold;
}

button:active{
    color: white;
}

.question {
    display: none;
}

.question.active {
    display: block;
}

.selectionA{
    position: absolute;
    top: 20%;
    left: 30%;
}

.selectionB{
    position: absolute;
    top: 30%;
    left: 30%;
}